{% extends 'base.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block body %}
      <!--  contact -->
      <div class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Contact Us</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  {{ form_start(form, {'attr': {'class': 'main_form', 'id': 'request'}}) }}
                     <div class="row">
                        <div class="col-md-12 ">
                           {{ form_widget(form.firstName) }}
                           {{ form_errors(form.firstName) }}
                        </div>
                        <div class="col-md-12 ">
                           {{ form_widget(form.lastName) }}
                           {{ form_errors(form.lastName) }}
                        </div>
                        <div class="col-md-12">
                           {{ form_widget(form.email) }}
                           {{ form_errors(form.email) }}
                        </div>
                         <div class="col-md-12">
                           {{ form_widget(form.subject) }}
                           {{ form_errors(form.subject) }}
                        </div>
                        <div class="col-md-12">
                           {{ form_widget(form.message) }}
                           {{ form_errors(form.message) }}
                        </div>
                        <div class="col-md-12">
                           {{ form_widget(form.Send) }}
                        </div>
                     </div>
                  {{ form_end(form) }}
               </div>
               <div class="col-md-6">
                  <div class="map_main">
                     <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="345" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
{% endblock %}