{% extends 'base.html.twig' %}

{% block title%}{{ post.title }}{% endblock %}

{% block body %}
<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <span>{{ post.publishedAt | date('d') }} {{ post.publishedAt | date('F') }}</span>
                     {% if post.image %}
                        <img class="img-responsive" src="{{ asset('images/blog/' ~ post.image) }}" alt="{{ post.title }}" style="max-width:100%; margin-top: 20px;">
                    {% endif %}
                </div>
                <div class="post-body">
                    <p>{{ post.content }}</p>
                    <hr>
                    <p>By {{ post.postUser.name }}</p>
                    <p>
                        <a href="{{ path('post_like', {slug: post.slug}) }}" class="btn btn-default"><i class="fa fa-heart"></i> Like ({{ post.numLikes }})</a>
                        <a href="#form" class="btn btn-default"><i class="fa fa-comments"></i> Comment ({{ post.numComments }})</a>
                    </p>
                </div>
            </div>
             <div class="col-md-4">
               <h3>Recent Posts</h3>
                {% for recent in recents %}
                    {{ include ('partials/_recent_post.html.twig', {'recent': recent}) }}
                {% endfor %}
            </div>
            </div>
        </div>
        <div class="row">
             {{ include ('partials/_post_comments.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
